<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- zhanghu管理 -->
    <bean id="appAccountService" class="com.sechand.platform.webservice.serviceimpl.AN_AccountServiceImpl" parent="baseService">
    </bean>
    <bean id="appAccountAction" class="com.sechand.platform.webservice.action.AN_AccountAction" parent="baseAction">
    	<property name="accountService">
        	<ref bean="appAccountService"/>
        </property>
    </bean>
    <!-- yonghu管理 -->
    <bean id="appUserService" class="com.sechand.platform.webservice.serviceimpl.AN_UserServiceImpl" parent="baseService">
    </bean>
    <bean id="appUserAction" class="com.sechand.platform.webservice.action.AN_UserAction" parent="baseAction">
    	<property name="appUserService">
        	<ref bean="appUserService"/>
        </property>
    </bean>
        <!-- 订单管理 -->
    <bean id="appOrderService" class="com.sechand.platform.webservice.serviceimpl.AN_OrderServiceImpl" parent="baseService">
    </bean>
    <bean id="appOrderAction" class="com.sechand.platform.webservice.action.AN_OrderAction" parent="baseAction">
    	<property name="appOrderService">
        	<ref bean="appOrderService"/>
        </property>
    </bean>
           <!-- 角色管理 -->
    <bean id="appRoleService" class="com.sechand.platform.webservice.serviceimpl.AN_RoleServiceImpl" parent="baseService">
    </bean>
    <bean id="appRoleAction" class="com.sechand.platform.webservice.action.AN_RoleAction" parent="baseAction">
    	<property name="appRoleService">
        	<ref bean="appRoleService"/>
        </property>
    </bean>
    
             <!-- 交易管理 -->
    <bean id="appTradeService" class="com.sechand.platform.webservice.serviceimpl.AN_TradeServiceImpl" parent="baseService">
    </bean>
    <bean id="appTradeAction" class="com.sechand.platform.webservice.action.AN_TradeAction" parent="baseAction">
    	<property name="appTradeService">
        	<ref bean="appTradeService"/>
        </property>
    </bean>
    
</beans>